<div class="form-group">
  @if (fieldControl.hasError('email') && fieldControl.touched) {
    <li class="field-error">
      Invalid email format
    </li>
  }


  @if (fieldControl.touched && fieldControl.hasError('required')) {
    <li class="field-error">
      Required field
    </li>
  }

  @if (fieldControl.hasError('minlength')) {
    <li class="field-error">
      The field must contain at least {{ fieldControl.getError('minlength').requiredLength }} characters
    </li>
  }


  @if (fieldControl.hasError('maxlength')) {
    <li class="field-error">
      The field cannot contain more than{{ fieldControl.getError('maxlength')?.requiredLength }} characters
    </li>
  }

  @if (fieldControl.hasError('min')) {
    <li class="field-error">
      Minimum value {{ fieldControl.getError('min').min }}
    </li>
  }

  @if (fieldControl.hasError('serverErrors')) {
    @for (error of fieldControl.getError('serverErrors'); track error) {
      <li class="field-error">
        {{ error }}
      </li>
    }
  }

</div>
